/* Untuk Tablet */

@media all and (max-width: 1000px) {
    .profiles {
        width: 50%;
        margin-bottom: 50px;
    }
}

@media (max-width: 880px) {

	.all-footer{
		font: bold 14px sans-serif;
	}

	.all-footer .footer-left,
	.all-footer .footer-center,
	.all-footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.all-footer .footer-center i{
		margin-left: 0;
	}
